version: "3.8"
services:

  # Tailscale
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: raspberrypi
    restart: unless-stopped
    network_mode: 'host'
    environment:
      - TS_AUTHKEY=PUT YOUR KEY HERE
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - /your-docker-folder/tailscale/state:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add: [net_admin]

 # Home Assistant
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    network_mode: 'host'
    privileged: true
    restart: unless-stopped
    volumes:
      - /your-docker-folder/homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro

 # Jellyfin
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    user: 1000:1000
    network_mode: 'host'
    restart: unless-stopped
    volumes:
      - /your-docker-folder/jellyfin/config:/config
      - /your-docker-folder/jellyfin/cache:/cache
      - /your-docker-folder/Media:/media
    environment:
      - JELLYFIN_PublishedServerUrl=http://YOUR-SERVER-IP

  # RustDesk
  rustdesk_hbbs:
    container_name: rustdesk_hbbs
    image: rustdesk/rustdesk-server:latest
    command: hbbs
    volumes: /your-docker-folder/rustdesk/data:/root
    network_mode: 'host'
    depends_on: rustdesk_hbbr
    restart: unless-stopped

  rustdesk_hbbr:
    container_name: rustdesk_hbbr
    image: rustdesk/rustdesk-server:latest
    command: hbbr
    volumes: /your-docker-folder/rustdesk/data:/root
    network_mode: 'host'
    restart: unless-stopped

  # Portainer
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    ports: ["9443:9443"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /your-docker-folder/portainer:/data
